/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* end reset */
:root {
  --neon-color: #84cc16;
  --neon-box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff,
    0 0 2rem var(--neon-color), 0 0 0.8rem var(--neon-color),
    0 0 2.8rem var(--neon-color), inset 0 0 1.3rem var(--neon-color);
  --neon-text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px var(--neon-color), 0 0 82px var(--neon-color),
    0 0 92px var(--neon-color), 0 0 102px var(--neon-color),
    0 0 151px var(--neon-color);
  /* --content-background-color: #374151; */
  --content-background-color: #111827;
}

body {
  font-family: "Playwrite DE Grund", cursive;
  color: #fff;
  background: url("./images/bbq.jpg");
  background-size: cover;
}
h1,
h2 {
  font-family: "Sacramento", sans-serif;
  text-align: center;
  font-weight: 400;
  text-shadow: var(--neon-text-shadow);
}

h1 {
  font-size: clamp(1.5rem, 7vw, 5rem);
  padding: 0.4rem;
}

p {
  max-width: 66ch;
}

.neon-sign {
  color: #fff;
  text-shadow: var(--neon-text-shadow);
  font-size: clamp(2rem, 10vw, 6rem);
  align-self: center;
  margin: 2rem 4rem;
  padding: 0.4em;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  box-shadow: var(--neon-box-shadow);
}
.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: clamp(8px, 3vw, 300px);
  background-color: #030712;
  padding-right: 2vw;
  position: relative;
  z-index: 1000;
}

.nav-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: clamp(8px, 2vw, 300px);
}
.nav-button {
  border: none;
  border-radius: 2rem;
  padding: 0.5ch 2ch;
  margin-bottom: 1rem;
  background-color: var(--neon-color);
  font-size: clamp(0.6rem, 1vw, 3rem);
}

#content {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: var(--neon-box-shadow); */
  background-color: var(--content-background-color);
  display: flex;
  flex-direction: column;
  gap: 15vh;
  padding: 5rem;
}

.content-div {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.left-div {
  align-self: flex-start;
}

.center-div {
  align-self: center;
}

.right-div {
  align-self: flex-end;
}

.left-heading {
  text-align: start;
}

.menu-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-item {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

#page-footer {
  width: 100vw;
  text-align: center;
  background-color: #030712;
  padding: 1ch 0;
}

@media screen and (max-width: 600px) {
  /* .nav-button-container {
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin-bottom: 12px;
  }
  .nav-button {
    margin: 0;
  } */
}
